{% extends 'layout.html' %}

{% block title %} Contact {% endblock %}

{% block content %}

    <h2 class="h1-responsive font-weight-bold text-center my-4">Entre em Contato</h2>

    <p class="text-center w-responsive mx-auto mb-5">
        Você possui alguma dúvida? Por favor envie-nos uma mensagem.
        Nosso time entrará em contato assim que possível.
    </p>

    <form id="contact-form" name="contact-form" action="" method="POST">
        {{ form.csrf_token }}
        <div class="md-form">
            <label for="inputName" class="sr-only">Name</label>
            <input type="text" id="inputName" name="name" class="form-control" placeholder="Name" required autofocus>
        </div>

        <div class="md-form mt-4">
            <label for="inputEmail" class="sr-only">Email</label>
            <input type="text" id="inputEmail" name="email" class="form-control" placeholder="Email" required autofocus>
        </div>

        <div class="md-form mt-4">
            <label for="inputMessage" class="sr-only">Text</label>
            <textarea id="inputMessage" name="message" rows="4" class="form-control md-textarea" placeholder="Mensagem" required></textarea>
        </div>

        <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">Enviar</button>
    </form>

{% endblock %}
